<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <style>

        .link {
            stroke: #000;
            stroke-width: 2px;
        }

        .node {
            fill: #000;
            stroke: #fff;
            stroke-width: 1.5px;
        }

        .node.a { fill: #1f77b4; }
        .node.b { fill: #ff7f0e; }
        .node.c { fill: #2ca02c; }

    </style>

    <link href="/css/bootstrap.css" rel="stylesheet">
    <link href="/css/bootstrap-theme.css" rel="stylesheet">
    <link href="/css/theme.css" rel="stylesheet">
    <script src="https://d3js.org/d3.v3.min.js"></script>
</head>
<body>

<title><%= pageTitle %></title>